TelegramChannelName=@YOUR_CHANNEL_NAME
TelegramBotApiKey=YOUR_BOT_API_KEY
DiscordWebHookUrl=YOUR_CHANNEL_WEBHOOK_URL
StartBlockHeightETH=ETHEREUM_BLOCK_HEIGHT
StartBlockHeightArbi=ARBITRUM_BLOCK_HEIGHT
WSSEndpoint=ETHEREUM_WSS_CONNECTION_STRING
ArbiWSSEndpoint=ARBITRUM_WSS_CONNECTION_STRING
ETHHTTPEndpoint=ETHEREUM_HTTP_CONNECTION_STRING
FilterPrice=FILTER_DEPOSIT_WITHDRAW_PRICE_USD
FilterSizePrice=FILTER_PURCHASE_EXERCISE_PRICE_USD